
		<footer>
		<div class="row">
     <div class="col-sm-12 text-center">
        <hr/>
        <small class="text-muted">
            <p><a href="https://github.com/oo2/nblog" target="_blank">Powered by nblog</a> </p>
            <p>Copyright</a> @<%= "2012 - " + (new Date()).getFullYear() %></p>
        </small>
     </div>
    </div>
			
		</footer>
