
		<footer>
		<div class="row">
     <div class="col-sm-12 text-center">
        <hr/>
        <small class="text-muted">
            <p><a href="http://wozhi.org" target="_blank">Powered by wozhi</a> @2014</p>
        </small>
     </div>
    </div>
			
		</footer>
