<ul class="pager">
    <% if(!isFirstPage) { %>
    <li class="previous"><a href="?p=<%= page - 1 %>">«</a></li>
    <% } %>

    <li class="badge"><%= page %> / <%= totalPage %></li>

    <% if(!isLastPage) { %>
    <li class="next"><a href="?p=<%= page + 1 %>">»</a></li>
    <% } %>
</ul>