<%- include header %>

<form class='form-horizontal' method="post">
    <div class="form-group">
     
        <label for="username" class="col-sm-2 control-label">用户名</label>
        <input type="text" autofocus name="username"  class="input-xlarge" id="username" size="30">
    </div>
    <div class="form-group">
        <label for="password" class="col-sm-2 control-label">密码</label>
        <input type="password" name="password" size="30" class="input-xlarge" id="password" size="30">
    </div>
    <div class="form-group">
        <label for="password_repeat" class="col-sm-2 control-label">确认密码</label>
        <input type="password" name="password_repeat"  class="input-xlarge" id="password_repeat" size="30" >
    </div>
    <div class="form-group">
        <label for="email" class="col-sm-2 control-label">邮箱</label>
        <input type="text" name="email" class="input-xlarge" id="email" size="30">
        <p class="help-block">邮箱同时也是您的 <a href="https://en.gravatar.com/">gravatar</a> 头像</p>
    </div>

    <button class="btn btn-success" type="submit">立即注册</button>
</form>

<%- include footer %>
