body {
    margin:15px 0;
}

.container-fixed {
    width: 960px;
    margin:0 auto;
}

/* 首页 */
.post {
    position: relative;
}

.post .author {
    position: absolute;
    right: 0;
    top: 0;
}

.post p {
   font-family: "lucida grande", "lucida sans unicode", lucida, "Helvetica Neue", helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
   font-size: 18px;
   font-weight: 100;
   line-height: 30px;
   color: #2f2f2f;
}

/* 头像 */
.avatar {border: 2px solid #c7b89e;}
.avatar,.avatar img{
	width: 32px;
	height: 32px;
	-webkit-border-radius: 30px; /* Saf3+, Chrome */
	border-radius: 30px; /* Opera 10.5, IE 9 */
	/*-moz-border-radius: 30px;  Disabled for FF1+ */
	}

.l_head{float:left;margin-left:4em;box-shadow:0px 1px 4px #888;}
.r_head{float:right;margin-top:-2.5em;box-shadow:0px 1px 4px #888;}

/* 无下划线 */
a:link {
text-decoration: none;
}
a:visited {
text-decoration: none;
}
a:hover {
text-decoration: none;
}
a:active {
text-decoration: none;
}

/* 首页文章标题 */
.title {
padding-right: 40px;
display: inherit;
color: #3b3b3b;
font-size: 24px;
font-weight: bold;
line-height: 36px;
text-decoration: none;
}
